<!-- Modal Delete Confirmation-->
<div class="modal fade" id="delete-sprint-{{ sprint.getId() }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{{ path('sprints_delete', {'id': sprint.getId(), 'project': project.getId()}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sprint.getId()) }}">
                <div class="modal-body">
                    Are you sure that you want to delete Sprint {{ sprint.getNumber() }} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
